* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    color: #fff;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 200px;
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: #000;
	padding: 20px;

}
.right {
	position: initial;
	background-color: #000;
	padding: 20px;

}