nav{
    padding: 15px;
    background-color: yellow;
    display: flex;
    list-style: none;
    text-align: center;
}
div{
    width: 5%;
    border-right: 1px solid black;
}
a:hover{
    background-color: blue;
    color: #fff;
    padding: 5px;
}
a{
    text-decoration: none;
}
div:last-child{
    border: none;
}