nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
nav ul li {
    display: inline-block;
    position: relative;
    width: 15%;
}
nav ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px gray;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li {
    display: block;
}
nav ul li ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}
nav ul li ul li a:hover {
    background-color: #fff;
}