body{
    background-color: #f0f0f0;
}
nav{
    background-color: #00f;
}
nav div a {
    text-decoration: none;
    color: #fff;
}
div{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
}
.gg{
    padding: 10px;
}
#Mystery{
    margin: 0;
}
button {
    display: none;
}
@media (max-width:500px)
{
    button {
        display: block;
    }
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .gg{
        display: none;
        border: 1px solid #000;
    }
}