*{
    box-sizing: border-box;
    background-image: url("back.jpg");
}
h1{
    text-align: center;
    width: 100%;
}
h2{
    color: #00f;
}
.full {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
}
fieldset{
    padding: 15px;
}