div{
    background-color: #0f0;
    border: 1px solid #000;
    margin: 5px;
}
.Content{
    float: left;
}
#Header{
    height: 100px;
}
#Footer{
    clear: both;
    height: 100px;
}
#Side{
    height: 300px;
    width: 10%;
}
#I{
    width: 87%;
    height: 145px;
}
#II{
    height: 145px;
    width: 43%;
}
#III{
    height: 145px;
    width: 43%;
}