*{
    box-sizing: border-box;
    text-align: center;
}
.tt{
    height: 100px;
}
#Header{
    background-color: #f00;
}
.sides{
    width: 20%;
    height: 400px;
}
#Left{
    background-color: yellow;
    float: left;
}
#Main{
    background-color: #fff;
    width: 60%;
    display: inline-block;
}
#Right{
    background-color: #0f0;
    float: right;
}
#Footer{
    clear: both;
    background-color: #00f;
    color: #fff;
}
@media (max-width:480px){
    div{
        display: flex;
        flex-direction: column;
    }
    #Left{
        width: 100%;
    }
    #Main{
        width: 100%;
    }
    #Right{
        width: 100%;
    }
    .tt{
        height: auto;
    }
    .sides{
        height: auto;
    }
}
@media (max-width:600px){
    div{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #Main{
        width: 100%;
    }
    .sides{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: auto;
    }
}